.dashboard-container{
    height:inherit;
}

.side-container{
    height:inherit;
    width:auto;
}

.post-container{
    height:inherit;
    margin:auto;
}
.post{
    align-self:center;
    margin:10px;
}
.post i{
    cursor: pointer;
}
.search-bar{
    height:inherit;
    width:auto;
    z-index: 99;
    border-right:1px solid black;

}


