.user-container{
    overflow: scroll;
    overflow-x: hidden;
}
.user-card{
    margin:10px;
    width:50%;
    background-color: rgb(221, 236, 236);
    padding:10px;
    border-radius: 4px;;
}
.user-card:hover{
    background-color:  rgb(176, 221, 221);;
}

.user-card i{
    cursor: pointer;
}

.search-bar input{
    margin:10px;
}