.user-container{
    overflow: scroll;
    overflow-x: hidden;
}
.user-card{
    margin:10px;
    width:50%;
    background-color: rgb(116, 120, 123);
    padding:10px;
    border-radius: 4px;;
}
.user-card:hover{
    background-color:  rgba(116, 120, 123, 0.115);
}

.user-card i{
    cursor: pointer;
}

.search-bar input{
    margin:10px;
}