
.nav-container{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    border-right:1px solid #dbdbdb;
    height:inherit;
    width:250px;
    transition:0.3s;
    padding: 40px 10px 30px 10px;
  }
 
  .sidebar-header{
    margin-bottom: 44px;
    width:100%;
  }

  .nav-container .insta-logo{
    margin-left:14px;
    height:100px;
    width:auto;
  }
  .nav-container .fa-instagram{
    display:none;
    font-size:35px;
    height:35px;
    width:51px;
    text-align: center;
  }

  .nav-container button{
    color: inherit;
    position:relative;
    border:none;
    cursor: pointer;
    background-color: transparent;
    height:60px;
  }
  
  .nav-container button > span{
    display:flex;
    align-items:center;
    gap:12px;
    height:48px;
    padding: 0 12px;
    border-radius: 24px;
    line-height: 1;

  }
  .nav-subcontainer > i{
    cursor: pointer;
    padding: 12px;

  }

  .nav-container button:hover > span{
    background-color: #f2f2f2;
  }

  .nav-container button:hover > span :is(i,img){
    scale: 1.05;
  }

  .nav-container button > span > span {
    transition: 0.3s;
  }

  @media(width < 580px){
    .nav-container .insta-logo{
      display:none;
    }
    .nav-container .fa-instagram{
      display:block;
    }
    .nav-container{
      width:72px;
    }
    .nav-container button > span {
      width:50px
    }
    .nav-container button > span > span {
      opacity: 0;
      visibility: none;
    }
  }

  .nav-container button i{
    position: relative;
    font-size:28px;
    transition: 0.2s;
  }


  .nav-container button span{
   font-size:17px;

  }