.flex-row{
    display:flex;
    flex-direction:row;
}

.flex-col{
    display:flex;
    flex-direction: column;
}

.wrap{
    flex-wrap:wrap;
}

.start{
    justify-content: flex-start;
}

.center{
    justify-content: center;
}

.end{
    justify-content: flex-end;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.stretch{
    justify-content: stretch;
}

.align-start{
    align-content: flex-start;
}

.align-end{
    align-content: flex-end;
}

.align-center{
    align-content: center;
}